@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Semibold';
  src: url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.eot');
  src: url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.svg#CooperHewitt-Semibold') format('svg'),
       url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.ttf') format('truetype'),
       url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.woff') format('woff'),
       url('../fonts/CooperHewitt-Semibold/CooperHewitt-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-Extrabold/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-Extrabold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Extrabold/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('../fonts/OpenSans-Extrabold/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg'),
       url('../fonts/OpenSans-Extrabold/OpenSans-Extrabold.ttf') format('truetype'),
       url('../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Medium';
  src: url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.eot');
  src: url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.svg#CooperHewitt-Medium') format('svg'),
       url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.ttf') format('truetype'),
       url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.woff') format('woff'),
       url('../fonts/CooperHewitt-Medium/CooperHewitt-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}







/* ==========================================================================
                            Custom Styles
   ========================================================================== */

body {
  /* font-family: "bebasneue_regular"; */
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeagueGothic-Regular";
}
p {
  color: #383838;
  font-family: 'CooperHewitt-Medium';
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
* html .clearfix {
  height: 1%;
}
.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mx-1024 {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.mx-1250 {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
.mx-1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.relative {
  position: relative;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.clearfix {
  display: block;
  clear: both;
}
.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.middle-div {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.hori-div {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* NAVBAR MENU */

.navbar {
  background-color: #0b2646;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  font-family: 'CooperHewitt-Medium';
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link:focus {
  color:#fff;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
nav ul li a {
  font-family: "AvenirLTStd-Medium";
}
.bg-header {
  background: url("../img/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 105vh;
}
.bg-header img {
  top: 29%;
  position: absolute;
  right: 0;
  width: 40%;
  left: 50%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.txt-search {
  border: 0;
  background-color: #ebebeb;
  font-size: 14px;
  width: 300px;
}
.btn-search {
  border: 0;
  background-color: #ebebeb;
  height: 35px;
}
.fa-search {
  color: #aaa;
  font-size: 14px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
nav li {
  padding-right: 12px;
}
.desktop-view {
  display: block;
}
.mobile-view {
  display: none;
}



.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.slider-img {
  background: url('../img/track-trace.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.slider-img-2 {
  background: url('../img/sealand.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.slider-img-3 {
  background: url('../img/transport.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.slider-img-4 {
  background: url('../img/forwarding.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.slider-img-5 {
  background: url('../img/borkerage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.slider-img-6 {
  background: url('../img/project.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -70px;
}
.header-banner .carousel-indicators{
            list-style: none;
            margin-bottom: -10px;
        }
        .carousel-indicators li {
              margin-left: 78px !important;
        }
        .carousel-indicators li, .carousel-indicators li.active{
                width: 60px;
    height: 60px;
    position: relative;
    margin: 10px;
    background: transparent;
    opacity: 1;
        }
        .carousel-indicators img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding-bottom: 10px;            
        }
.slider-menu {
  width: 100%;
  height: auto;
  background-color: #0b2646;
}

.slider-menu .carousel-indicators {
  position: initial;
  margin-bottom: 0;
}
.slider-menu .carousel-indicators li {
   width: auto;
    height: auto;
    text-indent: unset;
    padding-bottom: 17px !important;
    border-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-size: 13px;
    padding: 14px;
    margin: 0 !important;
    margin-left: 35px !important;
}
.slider-menu .carousel-indicators .active {
  border-top: 2px solid #f7ef39;
  padding-top: 22px;
}

.header-content {
/*  padding-top: 180px;*/
  max-width: 450px;
  position: absolute;
  top: 20%;
}
.header-content h4 {
  color: #f7ef39;
  font-family: 'CooperHewitt-Semibold';
  text-transform: uppercase;
  font-size: 18px;
}
.header-content h2 {
  color: #f0f6f0;
  font-weight: 800;
  font-size: 50px;
  width: 100%;
  font-family: 'OpenSans-ExtraBold';
}
.header-title {
  width: auto;
  position: absolute;
  margin-top: -23px;
}
.header-content hr {
  border-top: 4px solid #f7ef39;
}
.header-content p {
  color: #fff;
  font-family: 'CooperHewitt-Medium';
  padding-top: 80px;
  font-size: 16px;
}
.header-content button {
  background: #f7ef39;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  margin-top: 25px;
}


/*ABOUT US*/

.section-2 {
  background: url('../img/section-2-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.section-2 .about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.section-2 h2 {
  text-align: center;
  font-family: 'OpenSans-Extrabold';
  color: #0b2545;
  font-size: 50px;
  padding-top: 80px;
}
.section-2 p {
  padding-top: 15px;
  line-height: 1.7;
}
.section-2 h3 {
  font-size: 21px;
  font-family: 'OpenSans-Extrabold';
  color: #0b2545;
  padding-top: 20px;
}


/*SERVICES*/


.section-3 {
  background: url('../img/services-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.section-3 .carousel-item {
  height: 50vh;
}
.section-3 h2 {
  text-align: center;
  font-family: 'OpenSans-Extrabold';
  color: #fff;
  font-size: 50px;
  padding-top: 80px;
}
.section-3 h3 {
  font-size: 21px;
  font-family: 'OpenSans-Extrabold';
  color: #fff;
}
.section-3 u {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 4px solid #f7ef39;
}
.section-3 .carousel-inner {
  margin-top: 50px;
}
.section-3 .services-content {
  padding: 30px 82px 0px 82px;
  /*position: absolute;*/
  bottom: 0;
}
.section-3 .carousel-inner ul li {
  color: #fff;
}
.section-3 .services-content img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.section-3 .carousel-inner ul {
  padding: 0;
  margin: 35px 0px 0px 18px;
}
.section-3 button {
  background: #f7ef39;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  margin-top: 25px;
}
.section-3 .carousel-control-prev {
  left: -60px;
}
.section-3 .carousel-control-next {
  right: -60px;
}



/*PROJECTS*/
.section-4 {
  background: url('../img/section-4-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.section-4 h2 {
  text-align: center;
  font-family: 'OpenSans-Extrabold';
  color: #0b2545;
  font-size: 35px;
  padding-top: 80px;
}
/*.section-4 .thiss li, .thiss li.active {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  background: none !important;
}
.section-4 .carousel-indicators li  {
  background-color: #fff;
  background: none !important;
}*/
.section-4 .carousel-item {
  height: 50vh;
}
.section-4 .project-content {
  padding: 80px 150px 0 150px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.section img {
  position: absolute;
}
.section-4 .project-title {
  position: absolute;
  z-index: 1000;
  background-color: #0b2545;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-4 .project-title a {
  color: #fff;
  font-size: 15px;
}
/*.section-4 .project-content .project-title a{
  color: #fff;
  top: 10px;
  cursor: pointer;
  background-color: #0b2545;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 70%;
  bottom: 10%;
  z-index: 1000;
  left: 30%;
}*/
/*.section-4 .project-title {
  width: 50%;
  height: 50px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  background-color: #0b2545;
}*/
.section-4 .project-content p {
  padding-top: 35px;
}
.section-4 .carousel-inner{
  margin-top: 50px;
}


.contact-us {
  background: url('../img/contact-us-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.contact-us h2 {
  color: #fff;
  font-size: 35px;
  text-align: left;
  font-family: 'OpenSans-Extrabold';
  padding-top: 80px;
}
.contact-us u {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 4px solid #f7ef39;
}
.contact-us .contact-us-content {
  margin-top: 50px;
}
.contact-us .contact-us-content label {
  font-size: 16px;
  color: #fff;
}
.contact-us .contact-us-content input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  height: 30px;
}
.contact-us .contact-us-content textarea {
  resize: none;
  width: 100%;
  height: 280px;
}
.contact-us .contact-us-content button {
  background: #f7ef39;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  margin-top: 25px;
}
.contact-us .contact-us-content h5 {
  color: #f7ef39;
  font-family: 'CooperHewitt-Semibold';
  font-size: 16px;
}
.contact-us .contact-us-content p {
  color: #fff;
  font-family: 'CooperHewitt-Medium';
  font-weight: bold;
  font-size: 14px;
}
.navbar {}
.navbar-toggler{
width: 47px;
height: 40px;

}
.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-toggler .line{
width: 100%;
float: left;
height: 2px;
background-color: #fff;
margin-bottom: 5px;
}

.location-map {
/*  background: url('../img/location.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 72vh;
}


.license-accreditation {
  background-color: #eef4ed;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.license-accreditation h2 {
  font-size: 35px;
  padding-bottom: 50px;
  font-size: 35px;
  text-align: left;
  font-family: 'OpenSans-Extrabold';
  padding-top: 80px;
  text-align: center;
}
.license-accreditation ul li {
  display: inline;
  list-style-type: none;
}
.license-accreditation img {
  width: 100px;
}
.license-accreditation li {
  margin: 25px;
}
.copyright {
  background: #0b2545;
  width: 100%;
  height: auto;
}
.copyright p {
  color: #fff;
  padding-top: 25px;
}
.copyright ul li {
  display: inline;
  list-style-type: none;
}
.copyright ul {
  float: right;
}
.copyright img {
  width: 40px;
  margin-left: 15px;
  margin-top: 15px;
}








.md-concerts {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.md-modal {
  position: fixed;
  top: 10px;
  left: 0;
  right: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-img a {
  cursor: pointer;
}

.md-close {
  cursor: pointer;
}

.md-prodect-cargo{
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}


.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: url('../img/pandemic-response-img.jpg');
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.concerts-bg .md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: url('../img/pandemic-response-img.jpg');
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
  background-color: #e4f0e3;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}

.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-content h2 {
      text-align: center;
    font-family: 'OpenSans-Extrabold';
    color: #fff;
    font-size: 35px;
    padding-top: 80px;
}



/*
#navbar {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index: 99999;
}*/



.navbar { 
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease; 
  -o-transition:padding 0.2s ease;        
  transition:padding 0.2s ease;  
}

.affix {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
}


.mobile-view {
  display: none;
}
.mobile-hide {
  display: block;
}



@media ( max-width: 414px ) {
  .mobile-view {
      display: block !important;
  }
  .mobile-hide {
      display: none !important;
  }
  .section-3 {
    height: auto;
  }
  .section-3 .services-content {
    padding: 10px !important;
    position: initial;
  }
  .section-3 .carousel-item {
    height: 100vh;
  }
  .section-3 .carousel-control-prev {
    left: 0;
    top: -100%;
  }
  .section-3 .carousel-control-next {
    right: 0;
    top: -100%;
  }
  .section-4 .project-content {
    padding: 0;
  }
  .section-4 .carousel-control-prev i {
    color: #f7ef39 !important;
    font-weight: bold;
  }
  .section-4 .carousel-control-next i {
    color: #f7ef39 !important;
    font-weight: bold;
  }
  .header-content h2 {
    font-size: 40px;
  }
  .section-2 h2 {
    font-size: 35px;
  }
  .section-2 p {
    font-size: 14px;
  }
  .section-3 h2 {
    font-size: 35px;
  }
  .section-3 h3 {
    font-size: 18px;
  }
  .section-3 button {
    font-size: 13px;
  }
  .section-3 .carousel-inner ul li {
    font-size: 14px;
  }
  .section-4 h2 {
    font-size: 30px;
  }
  .section-4 .project-title a {
    font-size: 14px;
  }
  .section-4 .project-title p {
    font-size: 14px;
  }
  .contact-us h2 {
    font-size: 30px;
  }
  .contact-us .contact-us-content label {
    font-size: 14px;
  }
  .contact-us .contact-us-content button {
    font-size: 13px;
  }
  .license-accreditation h2 {
    font-size: 30px;
  }
  .license-accreditation ul {
    padding: 0;
  }
  .license-accreditation img {
    margin: 15px;
  }
  .copyright {
    text-align: center;
  }
  .copyright ul {
    float: initial !important;
    padding: 0;
    padding-bottom: 10px;
  }
}

@media ( max-width: 320px ) {
  .header-content h2 {
    font-size: 35px;
  }
  .section-2 h2 {
    font-size: 35px;
  }
  .section-2 p {
    font-size: 14px;
  }
  .section-3 h2 {
    font-size: 35px;
  }
  .section-3 h3 {
    font-size: 18px;
  }
  .section-3 button {
    font-size: 13px;
  }
  .section-3 .carousel-inner ul li {
    font-size: 14px;
  }
  .section-4 h2 {
    font-size: 30px;
  }
  .section-4 .project-title a {
    font-size: 14px;
  }
  .section-4 .project-title p {
    font-size: 14px;
  }
  .contact-us h2 {
    font-size: 30px;
  }
  .contact-us .contact-us-content label {
    font-size: 14px;
  }
  .contact-us .contact-us-content button {
    font-size: 13px;
  }
  .license-accreditation h2 {
    font-size: 30px;
  }
  .license-accreditation ul {
    padding: 0;
  }
  .license-accreditation img {
    margin: 15px;
  }
  .copyright {
    text-align: center;
  }
  .copyright ul {
    float: initial !important;
    padding: 0;
    padding-bottom: 10px;
  }
} 

