/* ==========================================================================
                            Custom Styles
   ========================================================================== */

body {
  font-family: Open Sans;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Open Sans;
  color: #011e41;
}
ul,li {
  color: #011e41;
}
p {
  color: #011e41;
  font-family: Open Sans;
  line-height: 1.7em;
  font-size: 15px;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
* html .clearfix {
  height: 1%;
}
.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.site-block-top-search input {
  padding-left: 30px;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  font-size: 14px;
}
.site-block-top-search input:focus {
  padding-left: 10px;
  border-color: #fff !important;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.navbar-top {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f3f3f4;
}
.site-block-top-search i {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 16px;
  color: #011e41;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.desktop-hide {
  display: none;
}
.social-media {
  text-align: right;
  margin-top: 15px;
}
.social-media ul li {
  list-style-type: none;
  display: inline;
  padding-left: 15px;
}
.social-media ul li i {
  font-size: 18px;
  color: #011e41;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-light .navbar-nav .nav-link {
  padding: 14px 14px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #011e41;
  font-size: 14px;
  text-decoration: none !important;
}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}




.banner-bg-img {
  background-color: #f3f3f4;
  width: 100%;
  height: 90vh;
}
.banner-bg-img-2 {
  background-color: red;
  width: 100%;
  height: 90vh;
}
.banner-bg-img .col-md-6 {
  padding-top: 100px;
}
.banner-bg-img h1 {
  font-weight: bold;
}
.banner-bg-img p {
  font-size: 18px;
  padding-top: 15px;
}
.banner-bg-img button {
  background-color: #aa9e78;
  border: 0;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
  padding: 8px;
  width: 120px;
}
.homepage .section-2 {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 25px;
}
.section-2 .col-border {
  border-right: 1px solid #011e41;
}
.section-2 h5 {
  font-size: 15px;
}
.section-2 p {
  font-size: 13px;
  line-height: 0;
}
.product-section {
/*  background: #f8f9fa;*/
  padding-top: 50px;
  padding-bottom: 50px;
}
.product-section h2 {
  text-align: center;
  padding-bottom: 50px
}
.product-category {
  padding-top: 80px;
}
.product-category-img {
  width: 100%;
  height: 400px;
  padding: 55px;
  background: #f3f3f4;
}
.product-category-img button {
  background-color: #aa9e78;
  border: 0;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
  padding: 8px;
  width: 120px;
}
.card {
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1) !important;
    background: #fff !important;
    border: 0;
}
.product-section .product-img {
  width: 100% !important;
 /* background: #f7f7f7;*/
}
.product-section .product-img img {
  object-fit: contain;
  width: 180px !important;
  height: 100%;
  transition: all 0.3s ease;
}
.product-section .product-img {
  height: 270px;
}
.product-section a {
  color: initial;
}
.product-section a:hover {
  color: #84713f;
}
.product-section h5 {
  font-size: 14px;
  margin-bottom: 0;
  color: #011e41;
}
.product-section p {
  font-size: 14px;
  color: #6c757d;
}
.color-categories {
  padding: 0 !important;
}
.c-darktan {
    background-color: #aa9e78;
}
.c-grey {
    background-color: #808080;
}
.c-brown {
    background-color: #964B00;
}
.color-categories li {
      display: inline-block;
    margin-right: 5px;
    padding: 1px;
    border: 1px solid #ebebeb;
}
.color-categories li a {
    height: 15px;
    width: 15px;
    display: block;
}
.c-lightblue {
    background-color: #b0c4de;
}
.product-section .left{
  position: absolute;
  top: 30%;
  z-index: 999;
  font-size: 30px;
  left: -20px;
  color: #84713f;
}
.product-section .right{
  position: absolute;
  top: 30%;
  z-index: 999;
  font-size: 30px;
  right: -20px;
  color: #84713f;
}

.get-a-qoute {
  width: 100%;
  height: auto;
  background-color: #011e41;
  padding-top: 27px;
  padding-bottom: 15px;
}
.get-a-qoute p {
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
}
.get-a-qoute button {
  border: 1px solid #ddd;
  background: transparent;
  color: #fff;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  margin-top: -10px;
  float: right;
}

.about-section {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-section p {
  font-size: 15px;
  line-height: 1.7em;
}
.contact-area {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f3f3f4;
}
.contact-phone {
  display: flex;
  justify-content: center;
}
.phone-icon i {
  font-size: 48px;
  color: #011e41;
  margin-right: 25px;
}
.contact-area .col-border {
  border-right: 1px solid #011e41;
}
.contact-area h5 {
  font-size: 16px;
  font-weight: 500;
}
.contact-area p {
  font-size: 14px;
}
.py-3 a {
  font-size: 14px;
  color: #25262a;
}
.py-3 span{
  color: #6c757d;
  font-size: 14px;
}


.aboutpage .about-us-page {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #f3f3f4;
}
.aboutpage .services {
  padding-bottom: 80px;
  padding-top: 80px;
}
.aboutpage .services h2 {
  text-align: center;
  padding-bottom: 80px
}
.services {
  padding-bottom: 80px;
  border-bottom: 1px solid #f3f3f4;
}

.aboutpage .section-2 {
  padding-top: 50px;
  padding-bottom: 80px;
}
.aboutpage .services .section-2 .col-border {
  border-right: 1px solid #011e41;
}
.aboutpage .services .section-2 h5 {
  font-size: 15px;
}
.aboutpage .services .section-2 p {
  font-size: 13px;
  line-height: 0;
}
.aboutpage .services .product-section {
/*  background: #f8f9fa;*/
  padding-top: 80px;
  padding-bottom: 80px;
}
.aboutpage .services .product-section h2 {
  text-align: center;
  padding-bottom: 50px
}

/*REQUEST A QOUTE*/

.qoute-form {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #f3f3f4;
}
.qoute-form p {
  font-size: 14px;
}
.qoute-form label {
  font-size: 15px;
}
.qoute-form input {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}
.qoute-form textarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  height: 140px;
  resize: none;
}
.qoute-form button {
  width: 100%;
  border: 0;
  background: #d8161d;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
}

/*PRODUCT PAGE*/
.productpage .product-section {
  padding-top: 80px;
}
.productpage .product-section h5 {
  font-weight: 500;
  margin-bottom: 0;
  color: #011e41;
}
.productpage .product-section p {
  font-size: 14px;
  color: #6c757d;
}


/*SINGLE PRODUCT*/

.single-product {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #f3f3f4;
}
.product-img-box .left-column img {
  width: 250px;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.product-img-box .left-column img.actives {
  opacity: 1;
}
.product-img-box {
  width: 100%;
  height: 400px;
}
.product-details {
   padding: 25px;
   height: 320px;
}

/*FAQ*/

.faq-section {
  padding-top: 80px;
  padding-bottom: 80px;
}





.content {
  padding-top: 30px;
}

.panel-group {
  margin-bottom: 0;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-group .panel .panel-heading {
  padding: 0;
}
.panel-group .panel .panel-heading h4 a {
  background: #f8f8f8;
  display: block;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  color: #25262a;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
  background: #fff;
  transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
  content: "ï¨";
}
.panel-group .panel .panel-heading h4 a i {
  color: #999;
}
.panel-group .panel .panel-body {
  padding-top: 0;
  font-size: 15px;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.panel-group .panel + .panel {
  border-top: none;
  margin-top: 0;
}








/*footer*/

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #011e41;
}
footer .footer-menu li {
  display: inline;
  font-size: 14px;
}
footer .footer-menu li a {
  color: #fff;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
  font-size: 14px;
  color: #fff;
}
footer li {
  margin-top: 5px;
}
footer .fa {
  font-size: 21px; 
  margin-right: 15px;
  color: #fff;
}


/* Product Color */


.product-color {
  margin-bottom: 30px;
}
.color-choose {
  margin-left: 25px;
}
.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#green + label span {
  background-color: green;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #4f1a71;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}



.column-bg {
  background: url('../img/section-3-img-right.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  padding: 150px;
}
.auto-content-group {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.no-padding {
  padding-right: 0;
}
.categories-intro {
  background: #2c2a36;
  min-height: 261px;
  z-index: 1;
}
.title {
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff;
  font-size: 2rem;
}
.text-content p {
  color: #fff;
  line-height: 2em;
  font-size: 16px;
  margin-bottom: 25px;
}
.text-content {
  padding: 0px 77px 0px 77px;
  text-align: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
a.view-more {
  color: #fff;
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
a.view-more:hover {
  color: #b8b7bb;
  border: 1px solid #b8b7bb;
}

/*CATEGORIES*/

.categories {
  padding-bottom: 80px;
}
.categories-fan {
  background: url('../img/section-3-img-left.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 150px;
}
.categories-stove {
  background: url('../img/section-3-img-right.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 150px;
}
.categories-carousel .view-more-product {
  color: #011e41;
  cursor: pointer;
}


