<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Helvetica 35 Thin</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>styleMapFamilyName</key>
    <string>Helvetica 35 Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>copyright</key>
    <string>Copyright 1988-1991 Adobe Systems Inc.</string>
    <key>trademark</key>
    <string>Copyright (c) 1988, 1990, 1993 Adobe Systems Incorporated.  All Rights Reserved.Helvetica is a trademark of Linotype-Hell AG and/or its subsidiaries.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>ascender</key>
    <integer>1638</integer>
    <key>descender</key>
    <integer>-410</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>1904/01/01 00:00:00</string>
    <key>openTypeHheaAscender</key>
    <integer>1898</integer>
    <key>openTypeHheaDescender</key>
    <integer>-438</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>V1.3</string>
    <key>openTypeNameUniqueID</key>
    <string>41341</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string></string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>1</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1610</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-378</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>289</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1899</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>438</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>768</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1024</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>512</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>768</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1024</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>1024</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>102</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>680</integer>
    <key>postscriptFontName</key>
    <string>HelveticaNeue-Thin</string>
    <key>postscriptFullName</key>
    <string>Helvetica 35 Thin</string>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>postscriptUnderlineThickness</key>
    <integer>102</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-256</integer>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
