<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>HelveticaNeue</string>
    <key>styleName</key>
    <string>Light</string>
    <key>styleMapFamilyName</key>
    <string>HelveticaNeue Light</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>copyright</key>
    <string>Copyright (c) 1988, 1990 Adobe Systems Incorporated.  All Rights Reserved.Helvetica is a registered trademark of Linotype AG and/or its subsidiaries.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>1998/11/05 12:44:56</string>
    <key>openTypeHheaAscender</key>
    <integer>967</integer>
    <key>openTypeHheaDescender</key>
    <integer>-211</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Macromedia Fontographer 4.1 11/5/98</string>
    <key>openTypeNameUniqueID</key>
    <string>Macromedia Fontographer 4.1 HelveticaNeue Light</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>4</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>MACR</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>1</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>967</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-211</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>967</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>211</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>143</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>453</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>259</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>HelveticaNeueLight</string>
    <key>postscriptFullName</key>
    <string>HelveticaNeue Light</string>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-125</integer>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
