@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('AvenirLTStd-Black.eot');
  src: url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
       url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg'),
       url('AvenirLTStd-Black.ttf') format('truetype'),
       url('AvenirLTStd-Black.woff') format('woff'),
       url('AvenirLTStd-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

