@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Semibold';
  src: url('CooperHewitt-Semibold.eot');
  src: url('CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Semibold.svg#CooperHewitt-Semibold') format('svg'),
       url('CooperHewitt-Semibold.ttf') format('truetype'),
       url('CooperHewitt-Semibold.woff') format('woff'),
       url('CooperHewitt-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

